* {
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "SoDo Sans";
}

/* Common (thành phần dùng chung) */
.content {
    width: 1440px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #000000de;
}

:root {
    --color: #006241;
    --color-1: #1e3932;
    --font-weight: 400;
}

/* HEADER */
.header {
    position: sticky;
    top: -15px;
    z-index: 1;
    height: 100px;
    padding: 25px 0;
    background-color: #fff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navbar .img-starbucks {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.header .navbar .list {
    display: flex;
}

.header .navbar .list li {
    margin: 0px 15px;
    transition: 0.3s color;
    font-weight: 500;
}

.header .navbar .list li:hover {
    color: #006241;
    text-decoration: underline var(--color);
}

.header .location_login {
    display: flex;
    margin-left: auto;
}

.header .location_login .btn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    background-color: #000;
    color: #fff;
    padding: 7px 12px;
    border-radius: 50px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    margin-left: 10px;
}

.header .location_login .btn1 {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    transition: 0.3s background-color;
}

.header .location_login .btn1:hover {
    background-color: #ebebebeb;
}

.header .location_login .local {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-weight: 500;
}

.header .location_login .local .icon {
    margin-right: 10px;
}

/* noi dung */
/* noi dung 1 */
.block-1 {
    margin-top: 30px;
    display: flex;
}

.block-1 .info,
.block-1 .img-info {
    width: calc(50vw - 40px);
    /* viewport-width là chiều rộng của trình duyệt */
    /* Phần tử chiếm 50% của trình duyệt */
}

.block-1 .info {
    background-color: var(--color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
}

.block-1 .info .sub-title {
    text-align: center;
    margin-top: 5px;
    width: 300px;
    height: 50px;
    font-size: 4.8rem;
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.block-1 .info .desc {
    margin-top: 100px;
    font-size: 2.4rem;
    color: #ffffff;
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-1 .info .link {
    display: inline-block;
    margin-top: 40px;
    color: #fff;
    width: 110px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 9px 8px 6px;
    text-align: center;
    font-weight: normal;
}

.block-1 .info .link:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

.block-1 .img-info img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 660px;
}

/* noi dung 2 */
.block-2 {
    margin-top: 30px;
    display: flex;
}

.block-2 .info-2,
.block-2 .img-info-2 {
    width: calc(50vw - 40px);
}

.block-2 .img-info-2 img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 642px;
}

.block-2 .info-2 {
    background-color: #cbe678;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
}

.block-2 .info-2 .sub-title-2 {
    text-align: center;
    margin-top: 5px;
    width: 400px;
    height: 36px;
    font-size: 4.8rem;
    color: var(--color-1);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.block-2 .info-2 .desc-2 {
    margin-top: 100px;
    font-size: 2.4rem;
    color: var(--color-1);
    width: 550px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-2 .info-2 .link-2 {
    display: inline-block;
    margin-top: 20px;
    color: var(--color-1);
    width: 110px;
    height: 40px;
    border: 1px solid var(--color-1);
    border-radius: 50px;
    padding: 10px 10px 6px;
    text-align: center;
}

.block-2 .info-2 .link-2:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* noi dung 3 */
.block-3 {
    margin-top: 30px;
    display: flex;
}

.block-3 .info-3,
.block-3 .img-info-3 {
    width: calc(50vw - 40px);
}

.block-3 .img-info-3 img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 640px;
}

.block-3 .info-3 {
    background-color: #d4e9e2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
}

.block-3 .info-3 .sub-title-3 {
    text-align: center;
    margin-top: 5px;
    width: 400px;
    height: 36px;
    font-size: 4.8rem;
    color: var(--color-1);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.block-3 .info-3 .desc-3 {
    margin-top: 100px;
    font-size: 2.4rem;
    color: var(--color-1);
    width: 550px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-3 .info-3 .link-3 {
    display: inline-block;
    margin-top: 40px;
    color: var(--color-1);
    width: 110px;
    height: 40px;
    border: 1px solid var(--color-1);
    border-radius: 50px;
    padding: 10px 10px 6px;
    text-align: center;
}

.block-3 .info-3 .link-3:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* noi dung 4 */
.block-4 {
    margin-top: 30px;
    display: flex;
}

.block-4 .info-4,
.block-4 .img-info-4 {
    width: calc(50vw - 40px);
}

.block-4 .img-info-4 img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 642px;
}

.block-4 .info-4 {
    background-color: #cbe678;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 160px 0;
}

.block-4 .info-4 .sub-title-4 {
    text-align: center;
    margin-top: 5px;
    width: 500px;
    height: 36px;
    font-size: 4.8rem;
    color: var(--color-1);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.block-4 .info-4 .desc-4 {
    margin-top: 80px;
    font-size: 2.4rem;
    color: var(--color-1);
    width: 550px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-4 .info-4 .link-4 {
    display: inline-block;
    margin-top: 40px;
    color: var(--color-1);
    width: 110px;
    height: 40px;
    border: 1px solid var(--color-1);
    border-radius: 50px;
    padding: 10px 10px 6px;
    text-align: center;
}

.block-4 .info-4 .link-4:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* noi dung 5 */
.block-5 {
    margin-top: 30px;
    display: flex;
}

.block-5 .info-5,
.block-5 .img-info-5 {
    width: calc(50vw - 40px);
}

.block-5 .img-info-5 img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 420px;
}

.block-5 .info-5 {
    height: 420px;
    background-color: #d4e9e2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
}

.block-5 .info-5 .sub-title-5 {
    text-align: center;
    margin-top: 5px;
    width: 500px;
    height: 36px;
    font-size: 2.6rem;
    color: var(--color-1);
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 700;
}

.block-5 .info-5 .desc-5 {
    margin-top: 20px;
    font-size: 1.8rem;
    color: var(--color-1);
    width: 550px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-5 .info-5 .link-5 {
    display: inline-block;
    margin-top: 30px;
    color: var(--color-1);
    width: 110px;
    height: 40px;
    border: 1px solid var(--color-1);
    border-radius: 50px;
    padding: 10px 10px 6px;
    text-align: center;
}

.block-5 .info-5 .link-5:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* noi dung 6 */
.block-6 {
    margin-top: 30px;
    display: flex;
}

.block-6 .info-6,
.block-6 .img-info-6 {
    width: calc(50vw - 40px);
}

.block-6 .img-info-6 img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 420px;
}

.block-6 .info-6 {
    height: 420px;
    background-color: var(--color-1);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 120px 0;
}

.block-6 .info-6 .sub-title-6 {
    display: inline;
    text-align: center;
    margin-top: 5px;
    width: 500px;
    height: 36px;
    font-size: 2.6rem;
    color: #fff;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: 700;
}

.block-6 .info-6 .desc-6 {
    margin-top: 25px;
    font-size: 1.8rem;
    color: #fff;
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 1.5;
    font-weight: var(--font-weight);
}

.block-6 .info-6 .link-6 {
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    width: 110px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px 10px 6px;
    text-align: center;
}

.block-6 .info-6 .link-6:hover {
    background-color: rgb(0, 0, 0, 0.1);
}

/* guides */
.guides {
    height: 270px;
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.guides .desc1 {
    width: 520px;
    height: 90px;
    line-height: 1.8;
    font-size: 1.3rem;
    font-weight: 400;
}

.guides .desc2 {
    margin-top: 120px;
    width: 610px;
    height: 100px;
    font-size: 1.3rem;
    font-weight: normal;
    font-weight: 400;
}

.separate {
    margin-top: 5px;
    width: 100%;
    height: 2px;
    background: rgba(243, 242, 242, 0.87);
}

.Service .row {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.Service .row .sub-title {
    font-weight: normal;
    font-size: 1.8rem;
}

.Service .row .list {
    margin-top: 30px;
}

.Service .row .list li {
    margin-bottom: 30px;
    width: 200px;
}

.Service .row .list a {
    color: #00000094;
    line-height: 1.5;
    font-size: 1.6rem;
}

/* footer */
.footer-logo {
    height: 170px;
}

.footer-logo .row-top {
    margin-top: 40px;
    position: relative;
    top: 0;
}

.footer-logo .logo i {
    font-size: 3rem;
    margin-right: 15px;
}

.footer-logo .row-bottom .list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.footer-logo .row-bottom li {
    margin-right: 40px;
    font-size: 1.6rem;
}

.footer-logo .row-bottom a {
    color: #000000DE;
    font-weight: 500;
}

.footer-logo .row-bottom a:hover {
    text-decoration: underline;
}

.footer-logo .desc {
    margin-top: 30px;
    font-size: 1.6rem;
    color: #00000094;
}
